body {
    background: linear-gradient(#1703fc 0%, #03fcfc 100%);
    padding-top: 700px;
    margin: 0px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: Inconsolata, sans-serif;
}

#heading {
    font-family: monospace;
    font-size: 33px;
}

#head2 {
    font-family: 'Bree Serif', serif;
    font-family: 'Georama', sans-serif;
}

.hobies {
    font-size: 24px;
}

h2 {
    font-family: ar cena;
    font-size: 26px;
}

hr {
    width: 1200px;
    height: 4px;
    background-color: #512D6D;
}


html {
    scroll-behavior: smooth;
}

h3 {
    font-family: sans-serif;

}

img {
    width: 200px;
}

#InspirationPara {
    font-size: 25px;
    font-family: 'Georama', sans-serif;
}

#badminton {
    padding-top: 30px;
    background: linear-gradient(#7e02d1 0%, #a831f7 50%, #be6ff21 100%);
}

#inspiration {
    background: linear-gradient(#05ed10 0%, #77f77d 50%, #adf7b1 100%);
    padding-top: 30px;
    text-align: center;
}

#others {
    background: linear-gradient(#8b05eb 0%, #f73bcb 100%);
    padding-top: 30px;
}

#frontpage {
    position: absolute;
    background: linear-gradient(#db9004 0%, #f2f213 100%);
    height: 700px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    z-index: 9;
    vertical-align: middle;
    text-align: center;
}

.images {
    width: 210px;
    border-radius: 50%;
    margin-bottom: 60px;
    margin-top: 90px;

}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
}

.link {
    float: right;
    color: azure;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.link:hover {
    color: darkviolet;
    background-color: #FE9898;
}

#apps {
    padding-top: 20px;
    background: linear-gradient(#f5026b 0%, #f05d9d 50%, #f5aecd 100%)
}

#games {
    background: linear-gradient(#f21707 0%, #ff9305 20%, #e7f20f 40%, #04d90b 60%, #0af0e8 80%, #0a0afa 100%);
    text-align: center;
    padding-top: 60px;
}

#music {
    background: linear-gradient(#1E3163 0%, #2D46B9 50%, #F037A5 100%);
    text-align: center;
    padding top: 50px;
     
.disable-select {
    user-select: none;
}






